@media only screen and (max-width: 685px) {
  header.page-top{
    grid-template-columns: 1fr 1fr;
  }

  header.page-top a.logo-link{
    grid-row: 1 / span 2;
  }

  header.page-top a.logo-link img{
    width: 75%;
  }

  #hdr-address{
    grid-column-start: 2;
  }
    #hdr-address .addr1,
    #hdr-address .addr2,
    #hdr-contact .social{
      display: none;
    }

    #hdr-contact{
      grid-column: 2;
      text-align: right;
      display: block;
      background-color: transparent;
      color: rgb(255, 255, 255);
  }

  #hdr-contact .phone::after{
    content: "\a";
    white-space: pre;
  }

  #hdr-contact a{
    color: rgb(255, 255, 255);
  }

  footer{
    display: flex;
    flex-wrap: wrap;
  }

  footer section{
    width: 50%;
  }

  footer section:nth-child(3){
    order: -1;
    width: 100%;
  }
}
