@media only screen and (max-width: 685px) {
  header.page-top{
    grid-template-columns: 1fr 1fr;
  }

  header.page-top a.logo-link{
    grid-row: 1 / span 2;
  }

  header.page-top a.logo-link img{
    width: 75%;
  }

  #hdr-address{
    grid-column-start: 2;
  }
    #hdr-address .addr1,
    #hdr-address .addr2,
    #hdr-contact .social{
      display: none;
    }

    #hdr-contact{
      grid-column: 2;
      text-align: right;
      display: block;
      background-color: transparent;
      color: rgb(255, 255, 255);
  }

  #hdr-contact .phone::after{
    content: "\a";
    white-space: pre;
  }

  #hdr-contact a{
    color: rgb(255, 255, 255);
  }

  header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header nav ul li{
    margin: 5px 0;
  }
  header nav ul li::after{
    content: "";

  }

  main{
    padding: 0;
  }

  h2{
    padding: 10px;
    font-size: 20px;
  }
  main section.cards{
    display: block;
  }

  main section.cards article{
    padding: 10px;
  }
  article h3{
    color: var(--color-secondary-one);
    border-bottom: 1px solid var(--color-secondary-one);
  }
  main section.cards article:nth-child(2){
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
  }

  main section.cards article:nth-child(2) h3{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  main section.cards article:nth-child(3){
    background-color: var(--color-highlight);
  }

  main section.cards article p{
    margin: 10px 0;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
  }

  footer section{
    width: 50%;
  }

  footer section:nth-child(3){
    order: -1;
    width: 100%;
  }

  /* group classes page */
  #group-classes section.cards article ul,
  #group-classes section.cards article h3{
    margin: 10px 0;
    padding-left: 0;
  }
}
