  /* pixel fonts implemented per styleguide */

:root{
  --color-primary: rgb(3, 163, 223);
  --color-secondary-one: rgb(27, 68, 127);
  --color-highlight: rgb(236, 183, 34);
  --color-dk-grey: rgb(68, 68, 68);
  --color-lt-grey: rgb(190, 190, 190);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 17px;
  font-family: arial, helvetica, sans-serif;
  color: var(--color-dk-grey);
}

p{
  margin: 10px;
}

header.page-top,
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  padding: 10px 0 0 0;
}

header.page-top{
  background-color: var(--color-primary);
}

header a.logo-link{
  padding: 10px;
}

header.page-top a.logo-link img{
  width: 80%;
}

#hdr-address{
  grid-column-start: 3;
  text-align: right;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
}

#hdr-address a{
  color: rgb(255, 255, 255);
}

#hdr-contact{
  grid-column: 1 / span 3;
  background-color: var(--color-highlight);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px 10px;
  color: var(--color-dk-grey);
  font-weight: bold;
  font-size: 1.75rem;

}

#hdr-contact a{
  color: var(--color-dk-grey);
}

#hdr-contact .phone::after{
  content: " | "
}

#hdr-contact .social{
  display: flex;
  justify-content: flex-end;
}

#hdr-contact .social a{
  margin: 0 8px;
  font-size: 2.25rem;

}

#hdr-contact a:hover{
  color: rgb(255, 255, 255);
}

header nav{
  grid-column: 1 / span 3;
  background-color: var(--color-secondary-one);
  padding: 10px;

}

header nav ul{
  display: flex;
  justify-content: flex-start;

}
header nav ul li{
  list-style-type: none;
  margin: 0 5px 0 10px;
}

header nav ul li:first-child{
  margin-left: 0;
}

header nav ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header nav ul li::after{
  content: "\ \ \ /";
  white-space: pre;
  color: rgb(255, 255, 255);
}

header nav ul li:last-child::after{
  content: "";
}

header nav ul li a:hover{
  color: var(--color-primary);
}
ul.dropdown{
  display: none;
}

main{
  padding: 10px;
}
main section.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;

}
section.cards header{
  grid-column: 1 / span 3
}

h2{
  padding: 10px 0;
  color: var(--color-dk-grey);
  font-weight: bold;
  font-size: 24px;
}

/* maintain aspect ratio on YouTube embeds */
.aspect-ratio{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
}
.aspect-ratio iframe{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

article h3{
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
}


footer{
  background: var(--color-secondary-one) url('../images/footerimage.jpg') top center no-repeat;
  padding-bottom: 10px;
}

footer section{
  padding: 10px;
  color: white;
  background-color: rgba(45, 45, 45, 0.5);
}

footer section a{
    color: rgb(255, 255, 255);
}

footer section a:hover{
  color: var(--color-primary);
}

footer p{
  margin: 10px 0;
}

footer ul li{
  list-style-type: none;
}

footer nav ul li a{

  text-decoration: none;
}

footer ul li ul{
  padding-left: 15px;
}

footer .social{
  display: flex;
  justify-content: flex-start;
}

footer .social a{
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

footer .social a:first-child{
  margin-left: 0;
}
/* featured instructor block */
main section.featured-instructor{
  background-color: var(--color-secondary-one);
  color: rgb(255, 255, 255);
  padding: 10px;
}

main section.featured-instructor article{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main section.featured-instructor h3{
  color: rgb(255, 255, 255);
  border-bottom: 1px solid var(--color-highlight);
  font-weight: normal;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

main section.featured-instructor article header{
  grid-row: 1 / span 7;
}
main section.featured-instructor article header img{
  width: 80%;
  margin: 0 10%;
}

main section.featured-instructor article header h4{
  text-align: center;
  font-weight: normal;
}
main section.featured-instructor article h5{
  color: var(--color-highlight);
  text-transform: uppercase;
  font-weight: normal;

}
main section.featured-instructor article a{
  color: rgb(255, 255, 255);
}

main section.featured-instructor article blockquote{
  font-weight: normal;
  font-size: 30px;
  margin: 15px 0 25px 0;
}

/* homepage */
article.group-promo p{
  margin: 5px 0 15px 0;
}
article.group-promo ul{
  list-style-type: none;
}

/* group classes page */

#group-classes section.cards article ul{
  list-style-type: none;
  padding: 0 0 10px 10px;
}

#group-classes section.cards article h3{
  margin-left: 10px;
}
