/* basic layout styling for initial prototyping
I would never use this much absolute positioning. :-D */

:root{
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1.5rem;
  font-family: arial, helvetica, sans-serif;
  background-color: burlywood;
}

p{
  margin: 10px 0;
}

header.page-top{
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  padding: 10px 0;
}

header a.logo-link{
  padding: 10px;
}

header.page-top a.logo-link img{
  width: 90%;
}

#hdr-address{
  grid-column-start: 3;
  text-align: right;
  padding: 10px;
}

#hdr-contact{
  grid-column: 1 / span 3;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;

}

#hdr-contact .phone::after{
  content: " | "
}

#hdr-contact .social{
  display: flex;
  justify-content: flex-end;
}

#hdr-contact .social a{
  margin: 0 10px;
}

header nav{
  grid-column: 1 / span 3;
  background-color: dimgrey;
  padding: 10px;

}

header nav ul{
  display: flex;
  justify-content: flex-start;

}
header nav ul li{
  list-style-type: none;
  margin: 0 10px;
}

header nav ul li:first-child{
  margin-left: 0;
}

header nav ul li a{
  color: white;
}

ul.dropdown{
  display: none;
}

main{

  padding: 10px;
}

section.cards article{

}

section.cards article img{
  width: 90%;
  margin: 0 3%;
}
footer{

  display: flex;

}

footer ul li{
  list-style-type: none;
}

footer nav ul li a{
  color: white;
}

footer ul li ul{
  padding-left: 15px;
}
footer section{

  padding: 10px;
  background-color: dimgrey;
  color: white;
}


article.featured-instructor header img{

}
