<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Archery Academy - Youth archery lessons in Tacoma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/phone.css">
  </head>
  <body>
    <footer>
      <section>
        <address class="h-card">
          <span class='p-name'>Archery Academy</span><br>
          <span class='p-street-address'>528 Nock Point Ln</span><br>
          <span class='p-locality'>Tacoma</span>,
          <span class='p-region'>WA</span>&nbsp;&nbsp;
          <span class='p-postal-code'>98412</span><br><br>
          <span class='p-tel'>253.555.1010</span><br>
          <a href='mailto:archery-education@example.com' class='u-email'>archery-education@example.com</a>
        </address>
      </section>
      <section>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Archery Instruction</a>
              <ul>
                <li><a href="#">Group Classes</a></li>
                <li><a href="#">Private Lessons</a></li>
                <li><a href="#">Other Programs</a></li>
              </ul>
            </li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a>
              <ul>
                <li><a href="#">Instructors</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </section>
      <section>
        <h4>Connect with Us</h4>
        <!-- recommend MailChimp embed here -->
        <p>Keep up to date on class schedules, special events, studdent achievements, and other news at Archery Academy, with our monthly email newsletter.</p>
        <form class="newsletter" action="index.html" method="post">
          <input type="text" name="user-email" value="your email address">
          <input type="submit" name="email-submit" value="Sign Up">
        </form>
        <!-- add icons in styling -->
        <span class='social'>
          <a href='#' target='_blank'>fb</a>
          <a href='#' target='_blank'>ig</a>
          <a href='#' target='_blank'>tw</a>
          <a href='#' target='_blank'>yp</a>
          </span>
      </section>
    </footer>
  </body>
</html>
