<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Archery Academy - Youth archery lessons in Tacoma</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <header class='page-top'>
      <a href='#' class='logo-link'><img src="../images/logo.png" alt="Archery Academy logo"></a>

      <div id='hdr-address'>
        <span class='addr1'>528 Nock Point Ln</span><br>
        <span class='addr2'>Tacoma, WA  98412</span><br>
        <a href='#'>On Google Maps</a>
      </div>
      <div id='hdr-contact'>
        <div>
          <span class='phone'>253.555.1010</span>
          <a href='mailto:archery-education@example.com' class='email'>archery-education@example.com</a>
        </div>
        <!-- add icons in styling -->
        <span class='social'>
          <a href='#' target='_blank'>fb</a>
          <a href='#' target='_blank'>ig</a>
          <a href='#' target='_blank'>tw</a>
          <a href='#' target='_blank'>yp</a>
          </span>
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Archery Instruction</a>
            <ul class='dropdown'>
              <li><a href="#">Group Classes</a></li>
              <li><a href="#">Private Lessons</a></li>
              <li><a href="#">Other Programs</a></li>
            </ul>
          </li>
          <li><a href="#">Facilities</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a>
            <ul class='dropdown'>
              <li><a href="#">Instructors</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
